.page {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
    line-height: 1.62;
    cursor: default;
    color: #14171a;
    background: #ebebeb;
}

.main-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

/*ERRORS*/
.error-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.error-page__block {
    margin: 40px auto;
    padding: 15px;
    max-width: 650px;
    text-align: center;
    color: #285065;
}

.error-page__number {
    font-size: 200px;
    font-weight: 700;
    line-height: 1;
}

.error-page__text {
    margin: 50px 0 100px;
    font-size: 32px;
    font-weight: 500;
}

.error-page__note {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
}

.error-page__btn {
    margin-top: 50px;
}

.header {
    margin-top: 20px;
    width: 100%;
    display: block;
    z-index: 999;
}

.header__wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    background: #fff;
}

.header__row {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

nav {
    display: block;
}

.menu__list {
    margin: 0;
    padding: 0;
    display: flex;
}

ul{
    list-style-type: none;
}

.menu__link {
    position: relative;
    padding: 32px 30px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: #191919;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
    display: block;
}

.menu__item {
    padding: 0 18px;
    display: inline-block;
    line-height: 1;
}

.section {
    position: relative;
    padding: 50px 0;
    display: block;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hidden{
    display: none;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: default;
}

.table .thead-light th{
    text-align: center;
}

.more-temperature-info{
    color: #8d8d8d;
}

.game-compleat{
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.points{
    margin: 15px 0;
    font-size: 18px;
}

.points span{
    font-size: 18px;
}

.points .js--points-quantity{
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    background: #5d5a5a;
    border-radius: 5px;
}

.message-successfull{
    color: #28a745;
}

.message-error{
    color: #ec6161;
}

.menu__item.active .menu__link::after, .menu__link:hover::after {
    width: 100%;
}

.menu__link::after {
    bottom: 0;
    background: #e53935;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
    width: 0;
    height: 2px;
}

a:hover {
    text-decoration: none;
}

.menu__link::after, .page_article::before {
    position: absolute;
    left: 0;
    display: block;
    content: '';
}

.game-cities-wrap{
    display: flex;
    flex-direction: column;
}

.radio_city{
    margin: 10px 0;
}

.radio_city .radio__label{
    cursor: pointer;
}